:root {
    --primary-color-1: #a3272c; /* Example primary color 1 (orange) */
    --primary-color-2: #838c8d; /* Example primary color 2 (blue) */
    --primary-color-3: #2a3235; /* Example primary color 3 (green) */
}